<configuration>
    <springProfile name="default">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
            <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
                <evaluator>
                    <expression>message.contains("select n1_0.notification_id") == false</expression>
                </evaluator>
                <OnMismatch>ACCEPT</OnMismatch>
                <OnMatch>DENY</OnMatch>
            </filter>
        </appender>

        <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE" />
            <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
                <evaluator>
                    <expression>message.contains("select n1_0.notification_id") == false</expression>
                </evaluator>
                <OnMismatch>ACCEPT</OnMismatch>
                <OnMatch>DENY</OnMatch>
            </filter>
        </logger>

        <root level="DEBUG">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>
</configuration>
