/* UserReviewItem.css */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.review-container {
    max-width: 800px;
    padding-left: 20px;
    border: none;
    padding: 0%;
}

.review {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.review:last-child {
    border-bottom: none;
}

.rating {
    font-size: 18px;
    font-weight: bold;
    color: #666;
}

.review-text {
    font-size: 16px;
    color: #333;
}

.review-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}