/* UserReviewItem.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.review-container {
    max-width: 800px;
    margin: 5px auto;
    padding-left: 20px;
    background-color: #fff;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0%;
}

.review {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.review:last-child {
    border-bottom: none;
}

.rating {
    font-size: 18px;
    font-weight: bold;
    color: #666;
}

.review-text {
    font-size: 16px;
    color: #333;
}

.review-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}