.button-with-icon {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: none;
  background-color: #01d412;
  color: rgb(250, 250, 250);
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.button-with-icon:hover {
  background-color: #0056b3;
}

.button-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.button-text {
  flex-grow: 1;
  text-align: center;
}
