/*div 안에 사진 */

.reservationItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
    margin-top:2%;
    margin-left:5%;
    margin-right:5%;
    border: 2px solid #f8dee4;
    border-radius: 10px; /* 단위 추가 */
    background:white ;
}

.titlename {
text-align: center;
 margin-top: -10%;
}

.title{
 margin-top: 0;
    margin-left: 10%;
    font-size: 18px;

}
.reservationDetail {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    margin-top: 1%;
    margin-right: 80px;
    margin-left: 12px;
    margin-bottom: 10px;
}


.reservationImage {
    width: 70px;
    height: 70px;
    border: 1px solid gray;
    margin-right: 10px;
    border-radius: 15px;
    margin-top: 3%;
    margin-bottom: 8px;
}

.actionContainer {
    display: flex;
    justify-content: space-between;
    margin-top: -7%;
    align-items: center;
    margin-left: 10px;
}
.reservationItem .button {
    background-color: #e17b92;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

}


.selectContainer {
    text-align: right;
    margin: 18px;
    margin-bottom: 8.4%;
    border: 1px solid white;

}
.span {
    margin-bottom: 1%;
}

.searchDate {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    border: 1px solid #FF000;
    border-radius: 15px;
    padding: 5px 10px;
    background-color: #f6d3d3;
    cursor: pointer;
    outline: none;
    appearance: none;
    text-align: center;
}

.searchDate:hover {
    background-color: #f4dddd;
    background: 1px solid #f8dee4;
}

.searchDate:focus {
    border-color: #f8e9e9;
}
.searchDate::after {
    content: '\25BC';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}
.searchDate option:nth-child(1) {
    background-color: #e7e7e7;
}

.searchDate option:nth-child(2) {
    background-color: #E2E2E2;
}

.searchDate option:nth-child(3) {
    background-color: #e7e7e7;
}

.searchDate option:nth-child(4) {
    background-color: #E2E2E2;
}
.searchDate option:nth-child(5) {
    background-color: #e7e7e7;
}