@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);



/* ChattingList.css */

.chat-headernav2 {
    position: fixed;
    top: 0;
    left: 0; /* 좌측 정렬을 위해 left 속성 추가 */
    background-color: rgb(255, 255, 255);
    border-bottom: 3px solid #bcbcbc;
    height: 80px;
    width: 100%; /* 전체 너비로 설정하여 화면을 가득 채우도록 함 */
    z-index: 1000; /* 다른 요소들보다 위에 오도록 z-index 설정 */
}

.currentName {
    font-family: 'Apple SD Gothic Neo', sans-serif;
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-size: 1.17em;
    color: rgb(255, 68, 108);
    font-weight: 600;
    margin-left: -8px;
    margin-top: -27px;
}

.chatlist {
    list-style: none;
    padding: 0;
    margin-top:90px;
}

.chatlistdetail {
    display: flex;
    align-items: center;
    padding: 14px;
    border-bottom: 1px solid #ddd;
    height: 80px;
}

.chatlistdetail:last-child {
    border-bottom: none;
}

.chatlistdetail img.otherProfileImage {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    margin-right: 10px;
}



.chatlistdetail .chat-link:hover {
    text-decoration: underline;
}


.no-chat-item {
    padding: 10px;
    text-align: center;
    color: #888;
}

.last-senttime{
    margin-left: auto; 
    margin-right: 5px;
    margin-bottom: 5px;
}

.time {
    /* margin-left: auto; 
    margin-right: 50px; */
    font-size: 0.95em;
    color: #838383;
    padding: 5px;

}

.last-message{
    color:#888;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 35px;
    margin-left: -100px;
    /* width: auto; */
    max-width: 170px; /* 원하는 최대 너비 지정 */
}

.chatlistdetail .chat-link {
    font-family: 'Apple SD Gothic Neo', sans-serif;
    text-decoration: none;
    color: #333; /* 원하는 색상으로 변경 */
    font-weight: 700;
    font-size:1.2em;
    margin-left: 5px;
    margin-bottom: 15px;
    height: 30px;
    width: 100px;
    /* margin-top: 1px; */
}

.notification-indicator {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}