@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.chat-room {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 120vh;
    background-color: #ffffff;
}
.chat-headernav{
    position: fixed;
    background-color: rgb(252, 232, 232);
    border-bottom:2px solid #dfdfdf;
    height: 60px;
    width: 400px;
    z-index: 9999; 
}
.message-container {
     flex: 1; 
     overflow-y: auto; 
     margin-top:65px;
     padding: 3px;
     max-height: 660px;
     width: 100%;
}
/* .message-box {
    display: flex;
    flex-direction: column; 
     max-width: 100%; 
    margin-bottom: 8px;
} */
.message-info{
    margin-top:-5px;
}
.input-area {
    height: 131px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #ffffff;
    border-top: 1px solid #ffffff;
}

.input-area button {
    height: 53px;
    width: 100px;
    font-size: 1.2em;
    margin-left: 10px; /* 버튼 사이 여백 조절 */
    background-color: #ff5f84;
    color: rgb(249, 247, 247);
    border: 0;
    /* border-radius: 5px; */
    cursor: pointer;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif; /* 원하는 글꼴로 변경 */
}
.input-area button:disabled {
    background-color: #bdbdbd;
}
.input-area button :hover{
    font-style: white;
}
/* 기본 스타일 */
.image-clip, .image-emog, .image-setting {
    width: 25px; /* 기본 크기 */
    height: 25px; /* 기본 크기 */
    transition: all 0.3s ease; /* 전환 효과 */
    cursor: pointer; /* 포인터 커서 */
    position: fixed; /* 고정 위치 */
    filter: contrast(8%); /* 대비 조절 */
    bottom: 10px; /* 하단 위치 */
}
/* 개별 위치 조정 */
.image-clip {
    margin-right: 10px;
    
}

.image-emog {
    margin-left: 39px;
    
}

.image-setting {
    margin-left: 78px;
    
}

.message-box-send {
    display: flex;
    flex-direction: column;
    max-width: 50%; 
    width: fit-content;
    margin-bottom: 8px;
    margin-left: auto;
    text-align: right; 
    color: #3c3c3c; 
    padding: 0; 
}


.message-box-send .message-timestamp {
    width: 100px;
    font-size: 13.5px;
    color: #000000;
    margin-left: -105px; 
    margin-top: -19px;
}

.message-box-send .message-content {
    border: 2px solid rgb(224, 200, 200);
    word-wrap: break-word; 
    background-color: rgb(232, 204, 204);
    text-align: left; 
    /* position: relative; */
    padding: 8px;
    margin-top: -20px;
    font-size:1.07rem;
    border-radius: 10px;
    margin-right: 50px;
    width: auto; /* 가로 크기를 자동으로 조절 */
    max-width: calc(90% - 10px); /* 최대 가로 크기 설정 */
    height: auto; /* 세로 크기를 자동으로 조절 */
    max-height: 600px; /* 최대 세로 크기 설정 */
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
}
.message-content ::after{
    position: absolute;
    display: block;
    top: 0;
    font-size:1.07rem;
    width: auto;
    height: auto;
}

.message-box-send .profile-image {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 0;
    margin-top: 20px;
}
.message-box-send strong{
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
}


/*receiver*/

.message-box-receive {
    position: relative; /* 상대 위치 지정 */
    max-width: 65.4%; 
    width: fit-content;
    margin-bottom: 8px;
    clear: both; /* float을 clear하는 요소 추가 */
    text-align: left; 
    color: #000000; 
    /* padding: 10px;  */
}

.message-box-receive .message-timestamp {
    position: absolute; /* 절대 위치 설정 */
    right: calc(15.8% - 95.8px); /* content의 오른쪽에 위치하도록 설정 */
    bottom: 0; /* content의 상단에 맞춰 위치 */
    font-size: 13.5px;
    color: #000000;
    margin-top: 2px;
}

.message-box-receive .message-content {
    border: 2px solid rgb(210, 186, 186);
    word-wrap: break-word; 
    background-color: #ffffff;
    display: inline-block;
    padding: 8px;
    margin-top: -21px;
    font-size: 1.07rem;
    border-radius: 10px;
    margin-left: 50px; /* 내용의 왼쪽 여백을 설정 */
    width: auto; /* 가로 크기를 자동으로 조절 */
    max-width: calc(80% - 10px); /* 최대 가로 크기 설정 */
    height: auto; /* 세로 크기를 자동으로 조절 */
    max-height: 600px; /* 최대 세로 크기 설정 */
    font-weight: 500;
    position: relative; /* 내부 요소들의 위치 지정을 위해 relative를 설정합니다 */
    font-family: 'Noto Sans KR', sans-serif;
}

.message-box-receive .profile-image {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-left: -100;
    margin-top: 20px;
}

.message-box-receive strong{
    margin-left: 10px;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
}


.message-content ::after{
    position: absolute;
    display: block;
    top: 0;
    font-size: 1.5rem;
}


