
.top-image {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 16px;
}

.description {
    margin-bottom: 16px;
}

.car-description {
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    flex-direction: column; /* 수직 정렬로 변경 */
}

.car-description h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 8px;
}

.car-description p {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #000;
    margin: 8px 0;
}

.car-description .rating {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #000;
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.description .rating img {
    margin-right: 8px;
}

.description p {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #000;
    margin: 0;
}

.profile-pic {
    width: 49px;
    height: 49px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 16px;
    display: inline-block;
}

.choice-border-line {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin: 16px 0;
}

.owner-description {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #000;
    white-space: nowrap;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.car-description {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #000;
    white-space: nowrap;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.usage-time {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    color: #000;
    white-space: nowrap;
    margin-bottom: 16px;
}

.additional-info {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: #000;
    white-space: nowrap;
    margin-bottom: 16px;
}

.grey-box {
    background-color: #d9d9d9;
    border-radius: 15px;
    opacity: 0.3;
    margin-bottom: 16px;
}

.grey-box.large {
    height: 440px;
}

.grey-box.small {
    height: 91px;
}

.choice-footer {
    position: relative;
    width: 100%;
    height: 148px;
    background-color: #fff;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.button-container {
    width: 131px;
    height: 47px;
    background-color: #d13661;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-text {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    color: #fff;
    white-space: nowrap;
}


.price-time {
    color: #656565;
    white-space: nowrap;
}

.price-time .price {
    font-size: 23px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    display: block;
}

.price-time .starttime {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    display: block;
}

.price-time .endtime {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    display: block;
}

body {
    font-family: Arial, sans-serif;
    overflow-y: auto;
}
.mapContainer {
    /* max-width: 800px; */
    /* margin: 40px auto; */
    padding: 20px;
    background-color: #fff;
    /*border: 1px solid #ddd;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.map {
    width: 100%;
    height: 200px;
    /* background-size: cover; */
    /* background-position: center; */
    /*border: 1px solid #ccc;*/
    /* Remove background-size and background-position */
}

.choice-footer .error-message {
    color: red;
    margin-top: 10px;
}
.choice-footer .button-text:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.review-container h2 {
    margin: 0;
}

.choice-info {
    display: flex;
    flex-direction: column; /* 수직 정렬로 변경 */
    align-items: first;
    margin-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
}

.choice-info .choice-location {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 1px; /* 각 항목 간격 추가 */
}

.choice-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.choice-details .choice-rating {
    display: flex;
    align-items: center;
}

.choice-details .choice-stars {
    margin-left: 5px;
    font-size: 16px;
}

.choice-details .choice-amenities {
    display: flex;
    align-items: center;
}

.choice-details .choice-icon {
    margin-right: 5px;
    font-size: 16px;
}