/* CheckMyCar.css */
.check-my-car-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #edf9fb; /* 연한 블루 배경 */
    padding: 20px;
}

.carousel-container {
    width: 90%;
    margin: 0 auto;
}

.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-car-card {
    background-color: #f8dada;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    padding: 20px;
    transition: transform 0.2s ease-in-out;
}

.register-car-card:hover {
    transform: scale(1.05);
}
.info_box{
    border: solid 0.1px gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%;

}
.info_item{
    text-align: center;
}
.input {
    max-height: 150px;
    min-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 8px;
    padding-bottom: 20px;
    /*border: 1px solid #ccc;*/
    word-wrap: break-word;
}